* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Montserrat";
  color: #3a3f4f;
  height: 100vh;
  background-color: #fff;
}
main {
  height: calc(100% - 70px);
  display: flex;
}
.logo {
  width: 80px;
  height: 50px;
  background-image: url(LOGO-white.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.sidebar {
  width: 350px;
  background-color: #20a4f3;
  padding: 20px;
}
.main {
  width: calc(100% - 350px);
  padding: 10px 20px;
}
.nav {
  height: 70px;
  width: 100%;
  background-color: #20a4f3;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.nav > .nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  font-weight: 550;
  padding: 10px 10px 10px 10px;
}

.nav-links {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  font-size: 21px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.nav-links li {
  margin: 10px 0;
}
.nav-links li a {
  color: #fff;
}
.col ul li a {
  font-size: 18px;
  font-weight: 500;
  color: #20a4f3;
  text-decoration: none;
}

.col ul li a:hover {
  color: #a5243d;
}
.custom-btn {
  padding: 10px 20px;
  background-color: #20a4f3;
  border-radius: 5px;
  color: #e8e9f3;
  border: none;
  margin: 0 10px;
  text-transform: capitalize;
  max-width: 330px;
}
.custom-btn:focus {
  outline: none;
}
.selectNew {
  height: 46px;
  display: inline-block;
  border-radius: 5px;
  border: none;
  outline: none;
  background: #20a4f3;
  font-size: 17px;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 500;
  margin: 0px;
  padding: 10px 20px;
  color: #e8e9f3;
  text-align: center;
}
.custom-input-field {
  padding: 10px 20px;
  background-color: transparent;
  outline: none;
  border: 1px solid #20a4f3;
  color: #3a3f4f;
  margin: 0 10px;
}
.bg-blue {
  background-color: #20a4f3;
}
.custom-input-field:active {
  opacity: 0.5;
}
.custom-input-field:focus-visible {
  outline: none;
}
.btn-row {
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
}
.canvas {
  margin-top: 50px;
  height: 500px;
}
.min-h-700px {
  min-height: 600px;
}

select option {
  background-color: #20a4f3;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 14px;
}
.question-form {
  color: white;
  font-weight: bold;
  text-align: center;
}

.mark {
  background-color: white;
  border: none;
}
