* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Montserrat";
  color: #3a3f4f;
  height: 100vh;
  background-color: #fff;
}
main {
  height: calc(100% - 70px);
  display: flex;
}
.logo {
  width: 80px;
  height: 50px;
  background-image: url(LOGO-white.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.sidebar {
  width: 350px;
  background-color: #20a4f3;
  padding: 20px;
}
.main {
  width: calc(100% - 350px);
  padding: 10px 20px;
}
.nav {
  height: 70px;
  width: 100%;
  background-color: #20a4f3;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.nav > .nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  font-weight: 550;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav-links {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  font-size: 21px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.nav-links li {
  margin: 10px 0;
}
.nav-links li a {
  color: #fff;
}
.nav > #nav-check {
  display: none;
}

.col ul li a {
  font-size: 18px;
  font-weight: 500;
  color: #20a4f3;
  text-decoration: none;
}

.col ul li a:hover {
  color: #a5243d;
}
.custom-btn {
  padding: 10px 20px;
  background-color: #20a4f3;
  border-radius: 5px;
  color: #e8e9f3;
  border: none;
  margin: 0 10px;
  text-transform: capitalize;
  max-width: 330px;
}
.custom-btn:focus {
  outline: none;
}
.selectNew {
  height: 46px;
  display: inline-block;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #20a4f3;
  font-size: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  margin: 0px;
  padding: 10px 20px;
  color: #e8e9f3;
  text-align: center;
}
.custom-input-field {
  padding: 10px 20px;
  background-color: transparent;
  outline: none;
  border: 1px solid #20a4f3;
  color: #3a3f4f;
  margin: 0 10px;
}
.custom-input-field:active {
  opacity: 0.5;
}
.custom-input-field:focus-visible {
  outline: none;
}
.btn-row {
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
}
.canvas {
  margin-top: 50px;
  height: 500px;
}

.btn-submit {
  padding: 12px 22px;
  background-color: #20a4f3;
  color: #e8e9f3;
  border: none;
}
.btn-submit:focus {
  outline: none;
}
.viewButton {
  padding: 10px 20px;
  background-color: #20a4f3;
  border-radius: 5px;
  color: #e8e9f3;
  border: none;
  margin: 0 10px;
  text-transform: capitalize;
}
.viewButton:focus-visible,
.viewButton:focus {
  outline: none;
}
.min-h-700px {
  min-height: 600px;
}
@media (max-width: 750px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > ul li a {
    display: block;
    width: 100%;
  }

  .nav > .nav-links > ul li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
    background-color: #333;
  }
  .nav > .nav-links > ul li a {
    margin-left: 40%;
  }
  .nav .nav-links ul a.icon {
    margin-left: 33%;
  }

  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

.School-wise {
  height: 46px;
  width: 200px;
  margin-left: 430px;
  margin-right: 20px;
  display: inline-block;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #6698ff;
  color: #fff;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
}

.School-wise:hover {
  background: linear-gradient(90deg, #87cefa, #00bfff);
}

.School-wise:active {
  opacity: 0.5;
}

.Department-wise {
  height: 46px;
  width: 200px;
  margin-right: 20px;
  display: inline-block;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #6698ff;
  color: #fff;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
}
.Department-wise:hover {
  background: linear-gradient(90deg, #87cefa, #00bfff);
}
.Department-wise:active {
  opacity: 0.5;
}
.Program-wise {
  height: 46px;
  width: 200px;
  margin-right: 20px;
  display: inline-block;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #6698ff;
  color: #fff;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
}

.Program-wise:hover {
  background: linear-gradient(90deg, #87cefa, #00bfff);
}

.Program-wise:active {
  opacity: 0.5;
}

.courseWiseView:hover {
  background: linear-gradient(90deg, #87cefa, #00bfff);
}

.courseWiseView:active {
  opacity: 0.5;
}

.background {
  background-color: #155977;
  height: 100vh;
}

.row1 {
  background-color: #155977;
  width: 100%;
  height: 70px;
}

.row2 {
  background-color: #155977;
}
select option {
  background-color: #20a4f3;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 14px;
}
